.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.login-box .login-content{
    padding: 2rem;
}

.login-box .login-icon{
    margin:1rem auto;
    background-color: #3f51b5;
}

.login-box [type=submit]{
    margin-top:1rem;
}
